<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjdwd">


    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取WIFI信息状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 允许程序改变网络链接状态 -->
    <uses-permission android:name="android.permission.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.permission.WIFI_STATE_CHANGED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序访问访问WIFI网络状态信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序改变WIFI链接状态 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:name=".BJDWDApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bjdwd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.LoginActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activitys.GuideActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".activitys.HomeActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activitys.NoteActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activitys.NotePadDetailActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activitys.HtmlWebViewActivity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>